    <script type="text/javascript">
        $(document).ready(function() {  

            $(".fly").click(function() {
            $(this).children().children("#change").attr('src',"/assets/wait.png");
            console.log($(this).prev().children(".box4"));
            $(this).prev().children(".box4").each(function() {
                $(this).circulate({
                    speed: Math.floor(Math.random()*300) + 100,
                    height: Math.floor(Math.random()*1000) - 470,
                    width: Math.floor(Math.random()*1000) - 470
                });
            });
            $(".box2").each(function() {
                $(this).circulate({
                    speed: Math.floor(Math.random()*300) + 100,
                    height: Math.floor(Math.random()*1000) - 470,
                    width: Math.floor(Math.random()*1000) - 470
                });
            });
           
            $.sticky('<b>You have new Message.</b>  Send complete!');
            });
              

            $('.fancybox').fancybox({
                padding:0, margin:0 ,background: 'none',
                type: 'inline', //change from iframe
                scrolling: 'no',
                afterClosed: function(){
                    parent.location.reload(true); 
                     $.fancybox.close();
                },
                afterClose : function(){
                    $('#login #add_name').empty();
                    $('#login #want_name').empty();
                },
                helpers : {
               
               overlay : {
                   css : {
                       'background' : 'rgba(0,0,0,0.7)'
                           }
                       }
                   }
            }); 


        }); 


    </script>
    


  <!-- Top banner
    ================================================== -->

        <div class="top_banner animated fadeInDown">

                <div class="block Photo">
                  <% if !current_user.nil? %>
                  <%= image_tag(my_photo, size:"122x125", :class => "FBPhOTO") %> 
                  <% else %>

                  <% end %>

                </div>

                <div class="block name" >
                    <h1> 
                       <% if !current_user.nil? %>
         
                      <strong><%= current_user.name %></strong> 


                      <span class=" block light"> </span>
                    </h1>
                    <div class="block">
                    <h1>
                    <span class="block triangle" id="triangle-left"></span>
                    <span class=" block wanttosay"> want to say...</span>
                    </h1>
                  </div>
                </div>


                <div class="block topFriends">

                  <% friends.each do |f| %>
                    <div class="block box">
                    <%= image_tag(f["picture"]["data"]["url"], :class => "block littlePhoto" ) %>
                    </div>
                  <% end %>                 

                </div>

            <% end %>

        </div>

    <section class = "animated fadeInUpBig">
            <!--    左側那欄按鈕        -->
            <div class="block left_button ">
                <div class="block but">
                    <a class="fancybox" href="#AddIngredient">
                       <%= image_tag("add-icon.png", :class=>"add" ) %> </a>
                </div>
                <div class="block but">
                    <a class="fancybox" href="#ChangeIngredient">
                      <%= image_tag("share.png", :class=>"add" ) %> </a>
                </div>
            </div> <!--左側那欄按鈕-->


            <!--    中間那大塊        -->
            <div class="block comment">

                <!-- Squared THREE -->
                <div class=" block squaredThree">
                    <input type="checkbox" value="None" id="squaredThree" name="check" />
                    <label for="squaredThree"></label>
                </div><div><p>&nbsp; &nbsp; only show friends</p></div>
                
                <!--        清單欄        -->
                <div class="block requests tabs">

                    <!--          選單          -->
                    <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
                    <label for="tab-1" class="tab-label-1">Friends</label>
                    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
                    <label for="tab-2" class="tab-label-2">Request</label>
                    <div class="clear-shadow"></div>

                    <div class="content3">

                        <div class="content-1 noposition" style="overflow-x:hidden;overflow-y:auto;">

                            <div class="block"><h2>Helping Friends 看他可憐 </h2></div> 


                    <!-- <div class="block want">want</div> -->
                    
                    <!--        清單 item           -->
                   
                        <% friends.each do |f| %>

                        <div class="block req_box">

                            <div class="block box">
                                    <div class="block littlePhoto">
                                    <%= image_tag(f["picture"]["data"]["url"], :class => "block littlePhoto" ) %>
                                    </div>
                            </div>

                                <div class="block light2"></div>

                                <div class="block request_name">
                                   <%= f["name"] %>
                                </div>

                                <div class="block need_food">
                                    <% WantFood.from_wantfood_list(f["id"]).order('due ASC').each do |w| %>
                                    <div class="block box4">
                                        <%= image_tag( '/assets/' + w.name + '.png', size:"40x40" ) %> 
                                    </div>

                                    <% end %>
                                
                                </div>

                                <div class="block box3 fly">
                                    <a href="#">
                                        <%= image_tag("Hand.png", size:"40x40", id:"change" ) %> 
                                    </a>
                                </div>

                            </div> 
                            <!-- a friend want list -->

                        <% end %>  
                        
                    </div>  <!--        清單1 item end            -->

                        <div class="content-2 noposition" style="overflow-x:hidden;overflow-y:auto;">
                            <h2>My Request 嗟來食</h2>
                            <!--        清單 item           -->

                            <% @mywantfoods.each do |w| %>

                                    <div class="block req_box">
                                        <div class="block box">
                                            <a href="#">
                                                <div class="block littlePhoto"> 
                                                <%= image_tag(my_photo, size:"40x40" ) %> 
                                                </div>
                                            </a>
                                        </div>

                                        <div class="block light2"></div>

                                        <div class="block request_name">
                                            <%= current_user.name %>
                                        </div>

                                        <div class="block need_food">
                                                <div class="block box4">

                                                <%= image_tag( '/assets/' + w.name + '.png' , size:"40x40" ) %> 

                                                </div>

                                        </div>
                                        <div class="block box3 fly"><a href="#"><img id="change" src="/assets/wait.png" height="40px" width="40px"></a></div>
                                    </div><!--        an item end            -->

                            <% end %>  


                            <div class="block req_box">
                                <div class="block box"><a href="#"><div class="block littlePhoto"> 
                                    <%= image_tag(my_photo, size:"40x40" ) %> 
                                </div></a></div>

                                <div class="block light2"></div>
                                        <div class="block request_name">
                                            <%= current_user.name %>
                                        </div>
                                    <div class="block need_food">
                                    <div class="block box2"><img src="/assets/優格.png" height="40px" width="40px" ></div>
                                </div>
                                <div class="block box3"><a href="#"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c47.0.160.160/p160x160/10354686_10150004552801856_220367501106153455_n.jpg?oh=8c14def50e1c6328a13afe614b4e5d89&oe=553FEF49&__gda__=1428867897_ca8b25cac702abc76f6a867ac7f819c7" height="40px" width="40px"></a></div>
                            </div><!--        清單 item end            -->
                            
                        </div>


                    </div>   <!-- content3 -->

                </div><!--      清單欄end          -->
            </div><!--    中間那大塊 end        -->

                      
            <!--    我的冰箱        -->
            <div class="block refriger">
                <p>
                    <strong>My Refrigerator(點兩下消除)</strong> 
                    <strong id="show_name3"></strong>
                </p>
                <div class="block refrigerator" style="overflow-x:hidden;overflow-y:auto;">

                    <p class="block class_name">穀物類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="穀物類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>

                    <p class="block class_name">蛋豆魚肉類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="蛋豆魚肉類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                
                    <p class="block class_name">蔬菜類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="蔬菜類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                    <p class="block class_name">水果類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="水果類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                    <p class="block class_name">乳製品</p>
                    <div class="block food_class">
                        <div class="block need_food" id="乳製品box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                    <p class="block class_name">其他配料</p>
                    <div class="block food_class">
                        <div class="block need_food" id="其他配料box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                </div>
            </div><!--    我的冰箱 end        -->
                       
        </section>

   
        <!--        add Ingrident   -->
        <div id="AddIngredient" style="display:none">
            <%= stylesheet_link_tag "add_ingrident.css" %>

            <section id="login" class="all">
                <div class="block title"><h2>Add Ingridents</h2></div>
                <div class="block title"><h2 id="show_name"></h2></div>
                <h2 class="add_list">
                    加入清單(點兩下消除) 
                    <%# image_tag('loading1.gif', :id => "loadingimage", :style => "display:none;") %>
                    <!-- <button type="button" id="addSubmit">+ -->
                        <%= image_tag "addfood.png", :size => "30x30", :id => "addSubmit" %>
                    <!-- </button> -->
                </h2>
                <div class="block title" id="add_name">
                </div>
                <div class="block addfood" style="overflow-x:hidden;overflow-y:auto;">
                    <p class="block class_name">1 穀物類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_grains.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "1"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>

                    <p class="block class_name">2 蛋豆魚肉類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_meatandbean.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "2"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                
                    <p class="block class_name">3 蔬菜類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_vegetables.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "3"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">4 水果類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_fruits.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "4"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">5 乳製品</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_dairy.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "5"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">6 其他配料</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_others.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "6"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        
        <!--        change Ingrident    -->
        <div id="ChangeIngredient" style="display:none">
        <%= stylesheet_link_tag "change_ingrident.css" %>
            
            <section id="login" class="all2">
               <div class="block title"><h2>Want Ingridents</h2></div>
                <div class="block title"><h2 id="show_name2"></h2></div>
                <h2 class="want_list">
                    加入清單(點兩下消除) 
                   <!-- <button type="button" id="wantSubmit">+</button>    -->
                        <%= image_tag "addfood.png", :size => "30x30", :id => "wantSubmit" %>

              </h2>
                <div class="block title" id="want_name">
                </div>
                <div class="block wantfood" style="overflow-x:hidden;overflow-y:auto;">
                    <p class="block class_name">1 穀物類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_grains.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "1"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>

                    <p class="block class_name">2 蛋豆魚肉類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_meatandbean.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "2"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                
                    <p class="block class_name">3 蔬菜類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_vegetables.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "3"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">4 水果類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_fruits.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "4"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">5 乳製品</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_dairy.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "5"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">6 其他配料</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_others.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "6"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <script>


        <% @foods.each do |f| %>
            $("#<%=f.category%>box").append('<div class="block box2" ondblclick="$(this).remove();"><img src="/assets/<%=f.name%>.png" width="40" height="40" class="refrigerator_food" name="<%=f.name%>  <%=f.due%> " ></div>');
        <% end %>

        $("#AddIngredient .addfood img").mouseover(function(){
            var name=$(this).attr('name');
            $( "#show_name" ).text(name.slice(1,name.length));
        });        

        $("#ChangeIngredient .wantfood img").mouseover(function(){
            var name=$(this).attr('name');
            $( "#show_name2" ).text(name.slice(1,name.length));
        });  

        $(".refrigerator_food").mouseover(function(){
            var name=$(this).attr('name');
            $( "#show_name3" ).text(name.slice(0,name.length));
        });     

        $("#AddIngredient .addfood img").click(function(){
            var name=$(this).attr('name');
            $( "#add_name" ).append("<p ondblclick='$(this).remove();'>"+name+"</p>");
        });

        $("#addSubmit").click(function(){
            $('#loadingimage').show();
            var data = [];

            $('#add_name').children("p").each(function(){
                if($(this).html()[0] == 1){
                    data.push({"穀物類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 2){
                    data.push({"蛋豆魚肉類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 3){
                    data.push({"蔬菜類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 4){
                    data.push({"水果類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 5){
                    data.push({"乳製品":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 6){
                    data.push({"其他配料":$(this).html().slice(1,$(this).html().length)});
                }
                
            })
            console.log(JSON.stringify(data));
            $.ajax({
                beforeSend : function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                type : "post",
                url: "/add_food",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response, status) {
                    console.log(response);
                    console.log(status);
                    if (status == "erro") {
                        alert("erro")
                    } else {
                        location.reload();
                    }
                },
                complete: function(){
                    // $('#loadingimage').hide();
                    // console.log("close");
                    $.fancybox.close();
                },
            });
        });      

        $("#ChangeIngredient .wantfood img").click(function(){
            var name=$(this).attr('name');
            $( "#want_name" ).append("<p ondblclick='$(this).remove();'>"+name+"</p>");
        });

        $("#wantSubmit").click(function(){
            var data = [];

            $('#want_name').children("p").each(function(){
                if($(this).html()[0] == 1){
                    data.push({"穀物類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 2){
                    data.push({"蛋豆魚肉類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 3){
                    data.push({"蔬菜類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 4){
                    data.push({"水果類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 5){
                    data.push({"乳製品":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 6){
                    data.push({"其他配料":$(this).html().slice(1,$(this).html().length)});
                }
                
            })
            console.log(JSON.stringify(data));
            $.ajax({
                beforeSend : function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                type : "post",
                url: "/want_food",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response, status) {
                    console.log(response);
                    console.log(status);
                    if (status == "erro") {
                        alert("erro")
                    } else {
                        location.reload();
                    }
                },
                complete: function(){
                    // $('#loadingimage').hide();
                    // console.log("close");
                    $.fancybox.close();
                },

            });
        });      

        </script>