    <script type="text/javascript">
        $(document).ready(function() {        

       // $(".fancybox").fancybox({
       //     wrapCSS    : 'fancybox-custom',
       //     closeClick : true,
       //     openEffect : 'none',
       //     helpers : {
       //         title : {
       //             type : 'inside'
       //         },
       //         overlay : {
       //             css : {
       //                 'background' : 'rgba(0,0,0,0.7)'
       //             }
       //         }
       //     }
       // });

            $('.fancybox').fancybox({
                padding:0, margin:0 ,background: 'none',
                'type': 'inline', //change from iframe
                'scrolling': 'no',
                'afterClosed': function(){
                    parent.location.reload(true); 
                     $.fancybox.close();
                },
                afterClose : function(){
                    $('#login #add_name').empty();

                },
                helpers : {
               
               overlay : {
                   css : {
                       'background' : 'rgba(0,0,0,0.7)'
                           }
                       }
                   }
            }); 
        }); 
    </script>
    


    <section>
            <!--    左側那欄按鈕        -->
            <div class="block left_button">
                <div class="block but">
                    <a class="fancybox" href="#AddIngredient">
                       <%= image_tag("add-icon.png", :class=>"add" ) %> </a>
                </div>
                <div class="block but">
                    <a class="fancybox" href="#ChangeIngredient">
                      <%= image_tag("share.png", :class=>"add" ) %> </a>
                </div>
            </div> <!--左側那欄按鈕-->


            <!--    中間那大塊        -->
            <div class="block comment">

                <!-- Squared THREE -->
                <div class=" block squaredThree">
                    <input type="checkbox" value="None" id="squaredThree" name="check" />
                    <label for="squaredThree"></label>
                </div><div><p>&nbsp; &nbsp; only show friends</p></div>
                
                <!--        清單欄        -->
                <div class="block requests" style="overflow-x:hidden;overflow-y:auto;">
                    <div class="block want">want</div>
                    
                    <!--        清單 item           -->
                    <div class="block req_box">

                            <div class="block box">
                                <a href="#">
                                  <div class="block littlePhoto"> 
                                    <img src="#" height="40px" width="40px"></div>
                                </a>
                            </div>

                            <div class="block light2"></div>
                            <div class="block request_name">FriendName</div>
                            <div class="block need_food">
                                
                                <div class="block box2">
                                    <%= image_tag(" ", size:"40x40" ) %> 
                                </div>

                                <div class="block box2">
                                    <%= image_tag(" ", size:"40x40" ) %> 

                                </div>
                                <div class="block box2">
                                    <%= image_tag(" ", size:"40x40" ) %> 

                                </div>
                            
                            </div>

                            <div class="block box3">
                                <a href="#">
                                    <%= image_tag("Hand.png", size:"40x40" ) %> 
                                </a>
                            </div>

                    </div><!--        清單 item end            -->
                   
                        
                    
                </div><!--      清單欄end          -->
            </div><!--    中間那大塊 end        -->

                      
            <!--    我的冰箱        -->
            <div class="block refriger">
                <p><strong>My Refrigerator</strong> </p>
                <div class="block refrigerator" style="overflow-x:hidden;overflow-y:auto;">
                    
                    <p class="block class_name">穀物類</p>
                    <div class="block food_class">
                        <div class="block need_food">
                            <div class="block box2"><%= image_tag("" , size:"40x40" ) %></div>
                            
                        </div>
                    </div>

                    <p class="block class_name">蛋豆魚肉類</p>
                    <div class="block food_class">
                        <div class="block need_food">
                            <div class="block box2"><%= image_tag(" " , size:"40x40" ) %></div>
                            
                        </div>
                    </div>
                
                    <p class="block class_name">蔬菜類</p>
                    <div class="block food_class">
                        <div class="block need_food">
                            <div class="block box2"><%= image_tag(" " , size:"40x40" ) %></div>
                            
                        </div>
                    </div>
                    
                    <p class="block class_name">果物類</p>
                    <div class="block food_class">
                        <div class="block need_food">
                            <div class="block box2"><%= image_tag(" " , size:"40x40" ) %></div>
                           
                        </div>
                    </div>
                    
                    <p class="block class_name">乳製品</p>
                    <div class="block food_class">
                        <div class="block need_food">
                            <div class="block box2"><%= image_tag(" " , size:"40x40" ) %></div>

                        </div>
                    </div>
                    
                    <p class="block class_name">其他配料</p>
                    <div class="block food_class">
                        <div class="block need_food">
                            <div class="block box2"><%= image_tag(" " , size:"40x40" ) %></div>
                            
                        </div>
                    </div>
                    
                </div>
            </div><!--    我的冰箱 end        -->
                       
        </section>

   
        <!--        add Ingrident   -->
        <div id="AddIngredient" style="display:none">
            <%= stylesheet_link_tag "add_ingrident.css" %>

            <section id="login" class="all">
                <div class="block title"><h2>Add Ingridents</h2></div>
                <div class="block title"><h2 id="show_name"></h2></div>
                <h2 class="add_list">
                    <button type="button" id="addSubmit">^ _ ^</button>
                    加入清單</h2> 
                <div class="block title" id="add_name">
                </div>
                <div class="block addfood" style="overflow-x:hidden;overflow-y:auto;">
                    <p class="block class_name">穀物類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_grains.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "1"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>

                    <p class="block class_name">蛋豆魚肉類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_meatandbean.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "1"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                
                    <p class="block class_name">蔬菜類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_vegetables.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "2"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">果物類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_fruits.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "3"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">乳製品</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_dairy.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "4"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">其他配料</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_others.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "5"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        
        <!--        change Ingrident    -->
        <div id="ChangeIngredient" style="display:none">
        <%= stylesheet_link_tag "change_ingrident.css" %>
            
            <section id="login" class="all2">


            </section>
        </div>

        <script>
        $("#AddIngredient img").mouseover(function(){
            var name=$(this).attr('name');
            $( "#show_name" ).text(name);
        });      

        $("#AddIngredient img").click(function(){
            var name=$(this).attr('name');
            $( "#add_name" ).append("<span ondblclick='$(this).remove();'>"+name+"</span> ");
        });

        $("#addSubmit").click(function(){
            var food_list = $('#add_name span').contents();
            $.ajax({
                url: "/add_food",
                data: {food_list : food_list},
                dataType: "xmlDocument",
                success:function(data){}
            });
        });      

        </script>