    <script type="text/javascript">
        $(document).ready(function() {        

            $('.fancybox').fancybox({
                padding:0, margin:0 ,background: 'none',
                type: 'inline', //change from iframe
                scrolling: 'no',
                afterClosed: function(){
                    parent.location.reload(true); 
                     $.fancybox.close();
                },
                afterClose : function(){
                    $('#login #add_name').empty();
                },
                helpers : {
               
               overlay : {
                   css : {
                       'background' : 'rgba(0,0,0,0.7)'
                           }
                       }
                   }
            }); 

        <% @foods.each do |f| %>
            $("#<%=f.category%>box").append('<div class="block box2" ondblclick="$(this).remove();"><img src="/assets/<%=f.name%>.png" width="40" height="40" ></div>');
        <% end %>

        }); 


    </script>
    


    <section class = "animated fadeInUpBig">
            <!--    左側那欄按鈕        -->
            <div class="block left_button ">
                <div class="block but">
                    <a class="fancybox" href="#AddIngredient">
                       <%= image_tag("add-icon.png", :class=>"add" ) %> </a>
                </div>
                <div class="block but">
                    <a class="fancybox" href="#ChangeIngredient">
                      <%= image_tag("share.png", :class=>"add" ) %> </a>
                </div>
            </div> <!--左側那欄按鈕-->


            <!--    中間那大塊        -->
            <div class="block comment">

                <!-- Squared THREE -->
                <div class=" block squaredThree">
                    <input type="checkbox" value="None" id="squaredThree" name="check" />
                    <label for="squaredThree"></label>
                </div><div><p>&nbsp; &nbsp; only show friends</p></div>
                
                <!--        清單欄        -->
                <div class="block requests" style="overflow-x:hidden;overflow-y:auto;">
                    <div class="block want">want</div>
                    
                    <!--        清單 item           -->
                   
                    <% friends.each do |f| %>

                    <div class="block req_box">

                        <div class="block box">
                                <div class="block littlePhoto">
                                <%= image_tag(f["picture"]["data"]["url"], :class => "block littlePhoto" ) %>
                                </div>
                        </div>

                            <div class="block light2"></div>

                            <div class="block request_name">
                               <%= f["name"] %>
                            </div>

                            <div class="block need_food">
                                <% WantFood.from_wantfood_list(f["id"]).order('due ASC').each do |w| %>
                                <div class="block box2">
                                    <%= image_tag( '/assets/' + w.name + '.png', size:"40x40" ) %> 
                                </div>

                                <% end %>
                            
                            </div>

                            <div class="block box3">
                                <a href="#">
                                    <%= image_tag("Hand.png", size:"40x40" ) %> 
                                </a>
                            </div>

                    </div>

                    <% end %>   <!--        清單 item end            -->
                </div><!--      清單欄end          -->
            </div><!--    中間那大塊 end        -->

                      
            <!--    我的冰箱        -->
            <div class="block refriger">
                <p><strong>My Refrigerator</strong> </p>
                <div class="block refrigerator" style="overflow-x:hidden;overflow-y:auto;">

                    <p class="block class_name">穀物類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="穀物類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>

                    <p class="block class_name">蛋豆魚肉類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="蛋豆魚肉類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                
                    <p class="block class_name">蔬菜類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="蔬菜類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                    <p class="block class_name">水果類</p>
                    <div class="block food_class">
                        <div class="block need_food" id="水果類box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                    <p class="block class_name">乳製品</p>
                    <div class="block food_class">
                        <div class="block need_food" id="乳製品box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                    <p class="block class_name">其他配料</p>
                    <div class="block food_class">
                        <div class="block need_food" id="其他配料box">
                            <!-- insert ingreidient -->
                        </div>
                    </div>
                    
                </div>
            </div><!--    我的冰箱 end        -->
                       
        </section>

   
        <!--        add Ingrident   -->
        <div id="AddIngredient" style="display:none">
            <%= stylesheet_link_tag "add_ingrident.css" %>

            <section id="login" class="all">
                <div class="block title"><h2>Add Ingridents</h2></div>
                <div class="block title"><h2 id="show_name"></h2></div>
                <h2 class="add_list">
                    加入清單(點兩下消除) 
                    <%# image_tag('loading1.gif', :id => "loadingimage", :style => "display:none;") %>
                    <button type="button" id="addSubmit">+</button></h2>
                <div class="block title" id="add_name">
                </div>
                <div class="block addfood" style="overflow-x:hidden;overflow-y:auto;">
                    <p class="block class_name">1 穀物類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_grains.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "1"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>

                    <p class="block class_name">2 蛋豆魚肉類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_meatandbean.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "2"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                
                    <p class="block class_name">3 蔬菜類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_vegetables.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "3"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">4 水果類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_fruits.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "4"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">5 乳製品</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_dairy.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "5"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">6 其他配料</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_others.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "6"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </section>


        </div>
        
        <!--        change Ingrident    -->
        <div id="ChangeIngredient" style="display:none">
        <%= stylesheet_link_tag "change_ingrident.css" %>
            
            <section id="login" class="all2">
               <div class="block title"><h2>Want Ingridents</h2></div>
                <div class="block title"><h2 id="show_name2"></h2></div>
                <h2 class="want_list">
                    加入清單(點兩下消除) 
                    <button type="button" id="wantSubmit">+</button></h2>
                <div class="block title" id="want_name">
                </div>
                <div class="block wantfood" style="overflow-x:hidden;overflow-y:auto;">
                    <p class="block class_name">1 穀物類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_grains.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "1"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>

                    <p class="block class_name">2 蛋豆魚肉類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_meatandbean.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "2"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                
                    <p class="block class_name">3 蔬菜類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_vegetables.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "3"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">4 水果類</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_fruits.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "4"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">5 乳製品</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_dairy.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "5"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                    
                    <p class="block class_name">6 其他配料</p>
                    <div class="block food_class2">
                        <div class="block need_food">
                            <% @foods_others.each do |img| %>
                            <div class="block box2"><%= image_tag img.gsub("", ""), :size => "40x40", :name => "6"+img.split('/').last[0..-5] %></div>
                            <% end %>
                        </div>
                    </div>
                </div>

            </section>
        </div>

        <script>
        $("#AddIngredient img").mouseover(function(){
            var name=$(this).attr('name');
            $( "#show_name" ).text(name.slice(1,name.length));
        });        

        $("#ChangeIngredient img").mouseover(function(){
            var name=$(this).attr('name');
            $( "#show_name2" ).text(name.slice(1,name.length));
        });      

        $("#AddIngredient img").click(function(){
            var name=$(this).attr('name');
            $( "#add_name" ).append("<span ondblclick='$(this).remove();'>"+name+"</span>");
        });

        $("#addSubmit").click(function(){
            $('#loadingimage').show();
            var data = [];

            $('#add_name').children("span").each(function(){
                if($(this).html()[0] == 1){
                    data.push({"穀物類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 2){
                    data.push({"蛋豆魚肉類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 3){
                    data.push({"蔬菜類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 4){
                    data.push({"水果類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 5){
                    data.push({"乳製品":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 6){
                    data.push({"其他配料":$(this).html().slice(1,$(this).html().length)});
                }
                
            })
            console.log(JSON.stringify(data));
            $.ajax({
                beforeSend : function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                type : "post",
                url: "/add_food",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response, status) {
                    console.log(response);
                    console.log(status);
                    if (status == "erro") {
                        alert("erro")
                    } else {
                        location.reload();
                    }
                },
                complete: function(){
                    // $('#loadingimage').hide();
                    console.log("close");
                    $.fancybox.close();
                },
            });
        });      

        $("#ChangeIngredient img").click(function(){
            var name=$(this).attr('name');
            $( "#want_name" ).append("<span ondblclick='$(this).remove();'>"+name+"</span>");
        });

        $("#wantSubmit").click(function(){
            var data = [];

            $('#want_name').children("span").each(function(){
                if($(this).html()[0] == 1){
                    data.push({"穀物類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 2){
                    data.push({"蛋豆魚肉類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 3){
                    data.push({"蔬菜類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 4){
                    data.push({"水果類":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 5){
                    data.push({"乳製品":$(this).html().slice(1,$(this).html().length)});
                }
                if($(this).html()[0] == 6){
                    data.push({"其他配料":$(this).html().slice(1,$(this).html().length)});
                }
                
            })
            console.log(JSON.stringify(data));
            $.ajax({
                beforeSend : function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                type : "post",
                url: "/want_food",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response, status) {
                    console.log(response);
                    console.log(status);
                    if (status == "erro") {
                        alert("erro")
                    } else {
                        location.reload();
                    }
                },
                complete: function(){
                    // $('#loadingimage').hide();
                    console.log("close");
                    $.fancybox.close();
                },

            });
        });      

        </script>