<!DOCTYPE html>
<html>
<head>
  <title>Food Society</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Sail|Concert+One' rel='stylesheet' type='text/css'>

</head>
<body>

  <!-- Navigation bar
    ================================================== -->
 
      <nav class="nav">
          
            <a class="top">
        <strong><%= link_to "Food Society", root_path, id:"logo" %></strong>
        <span><%= image_tag("dishes_logo.png", size: "30x30", :class => "img_banner" ) %></span> 

            </a>
       
                    <% if !current_user.nil? %>

                  <span> <%= link_to "Refrigerator", new_food_path %> </span>
                  <span> <%= link_to "Recipe", show_food_can_use_path %> </span>

                    <span>
                      <a href="#">
                        <%= image_tag(my_photo, size: "22x25", :class => "img_banner") %> 
                        <%= current_user.name %> 
                      </a></span>

                
                  <span><%= link_to "sign out",signout_path, id: 'sign_out' %></span>                    

                    <% else %>
                  <span> <%= link_to "sign in with facebook", "/auth/facebook", id: "sign_in" %> </span> 
                    <% end %>
              
    </nav>


  <!-- Top banner
    ================================================== 

        <div class="top_banner animated fadeInDown">

                <div class="block Photo">
                  <%# if !current_user.nil? %>
                  <%# image_tag(my_photo, size:"122x125", :class => "FBPhOTO") %> 
                  <%# else %>

                  <%# end %>

                </div>

                <div class="block name" >
                    <h1> 
                       <%# if !current_user.nil? %>
         
                      <strong><%= current_user.name %></strong> 


                      <span class=" block light"> </span>
                    </h1>
                    <div class="block">
                    <h1>
                    <span class="block triangle" id="triangle-left"></span>
                    <span class=" block wanttosay"> want to say...</span>
                    </h1>
                  </div>
                </div>


                <div class="block topFriends">

                  <%# friends.each do |f| %>
                    <div class="block box">
                    <%# image_tag(f["picture"]["data"]["url"], :class => "block littlePhoto" ) %>
                    </div>
                  <%# end %>                 

                </div>

            <%# end %>

        </div> -->

<%= yield %>

        
        <footer>
             Food Society &copy; 2015 All Rights Reserved
        </footer>



</body>
</html>
